extends ../../layouts/common.pug

block title
    title Đăng ký

block content
    div.container.cart-submit-page(style="padding-top: 30px; padding-bottom: 30px;")
        div.row
            div.col
                h1.title(style="padding-bottom: 20px;") Đăng ký
                if errors
                    each error in errors
                        .alert.alert-danger(style="text-align: center;")= error
                div
                    form(action="/auth/create", method="POST")
                        div.form-group
                            label(for="name") Tên
                            input#name.form-control.shadow-none(type="text" placeholder="Tên" name="name" value=value ? value.name : "")
                        div.form-group
                            label(for="username") Tên đăng nhập
                            input#username.form-control.shadow-none(type="text" placeholder="Tên đăng nhập" name="username" value=value ? value.username : "")
                        div.form-group
                            label(for="password") Mật khẩu
                            input#password.form-control.shadow-none(type="password" placeholder="Mật khẩu" name="password")
                        div.form-group
                            label(for="re-password") Nhập lại mật khẩu
                            input#re-password.form-control.shadow-none(type="password" placeholder="Nhập lại mật khẩu" name="rePassword")
                        
                        button.btn.btn-danger.shadow-none Đăng ký