extends ../../layouts/common.pug

block title
    title Liên hệ

block content
    div.container
        div.row(style="height: 23rem; padding-top: 20px")
            div.col.col-lg-9.col-md-10.col-sm-12.col-12
                div
                img
                h1(style="padding-bottom: 15px;") Liên hệ
                div(style="padding-bottom: 10px;")
                    span(style="font-weight: bold; font-size: 20px;") Hotline: &nbsp;
                    span
                        a(href="tel:0849666389" style="font-size: 18px; color: black; text-decoration: none;") 0849666389
                div(style="padding-bottom: 10px;")
                    span(style="font-weight: bold; font-size: 20px;") Địa chỉ: &nbsp;
                    span(style="font-size=20px;") Khu đô thị Đền Lừ, phường Tân Mai, quận Hoàng Mai, Hà Nội
                div(style="padding-bottom: 10px;")
                    span(style="font-weight: bold; font-size: 20px;") Facebook: &nbsp;
                    span(style="font-size=20px;")
                        a(href="https://www.facebook.com/misabee.vn/" target="blank" style="text-decoration: none;") Misabee Shop
                div(style="padding-bottom: 10px;")
                    span(style="font-weight: bold; font-size: 20px;") Shopee: &nbsp;
                    span(style="font-size=20px;")
                        a(href="https://shopee.vn/toilaxoan" target="blank" style="text-decoration: none;") Misabee Shop
