extends ../../layouts/common.pug

block title
    title Error 404

block content
    div(style="height: 30px")
    div.jumbotron
        div.p404 
            img.p404-i(src="/images/ghost.png", alt="ghost.png", style="height: 220px")
        h1.p404 Lỗi 404: Không Tìm Thấy Trang
    div(style="height: 30px")