extends ../../layouts/common.pug

block title
    title Thông báo

block content
    div(style="height: 30px")
    div.jumbotron
        div.p404 
            img.p404-i(src="/images/icons/checked.png", alt="checked.png", style="height: 220px")
        h1.p404 Đặt hàng thành công!
        h5.p404 Sẽ có nhân viên liên hệ với bạn.
        div(style="text-align: center; padding-top: 20px;")
            a.btn.btn-outline-secondary(href="/" role="button") Tiếp tục mua sắm
    div(style="height: 30px")